
<hr>
  <div class="container">
    <div class="card-body">
      <br>
      <div class="center" *ngIf="id==0">
        <h2 class ="card-title">{{titulo}}</h2>
      </div>
      <div class="center" *ngIf="id>0">
        <h2 class ="card-title">{{titulo2}}</h2>
      </div>
     <br>

      <div class="container">
        <div style="background: #ECECEC;padding:15px;">
          <nz-card style="width:1200px;" [nzBordered]="false"  >           
        <div class="row">
          <div class="col-sm">         
          <nz-form-item>
            <nz-form-control nzErrorTip="Campo Obligatorio!">             
              <label for="sApe" class="col-form-label col-sm2"> <b style="color:rgb(255, 0, 0);">*</b> &nbsp;<b>Nombres</b></label>
              <input nz-input placeholder="Ingrese Nombres"[formControl]="idControl.nombre" [required]="true" nzSize="default" (ngModelChange)="idControl.nombre" />
            </nz-form-control>
          </nz-form-item>
          </div>
        
          <div class="col-sm">            
          <nz-form-item>
            <nz-form-control >
             <label for="sApe" class="col-form-label col-sm2"><b style="color:rgb(255, 0, 0);">*</b> &nbsp;<b>Identificacion</b></label>
              <input type="number" nz-input placeholder="Ingrese Identificacion"[formControl]="idControl.identificacion" nzSize="default"  />
            </nz-form-control>
          </nz-form-item>
          </div>

          <div class="col-sm">           
          <nz-form-item>
            <nz-form-control nzErrorTip="Campo Obligatorio!">
              <label for="area" class="col-form-label col-sm2"> <b style="color:rgb(255, 0, 0);">*</b> &nbsp;<b>Genero</b></label>
              <nz-select
              #selectAnt
              nzShowSearch
              nzPlaceHolder="Seleccione Genero"
              [formControl]="idControl.genero" 
              [required]="true"              
            style="min-width: 200px;" >
          <nz-option *ngFor="let option of listaGenero" 
          [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </nz-select>
            </nz-form-control>
          </nz-form-item>
          </div>

        </div>

        <div class="row">
          
          <div class="col-sm">         
            <nz-form-item>
              <nz-form-control >
               <label for="area" class="col-form-label col-sm2">  &nbsp;<b>Correo</b></label>
                <input nz-input placeholder="Ingrese Correo"[formControl]="idControl.correo" />
              </nz-form-control>
            </nz-form-item>
            </div> 

          <div class="col-sm">
            <label for="Telefono" class="col-form-label col-sm2"><b>Telefono</b></label>
            <div class="col-sm-12">
                          <input type="number" nz-input placeholder="Ingrese Telefono"[formControl]="idControl.telefono" />
          </div>
          </div>

          <div class="col-sm">         
            <nz-form-item>
              <nz-form-control >
                <label for="Telefono" class="col-form-label col-sm2"><b>Fecha Creacion Registro</b></label>
              <input nz-input value="{{fechaRegistro}}"  [disabled]="true"/>
           </nz-form-control>
            </nz-form-item>
            </div> 
        </div>     
          </nz-card>
        </div>

<br>

<button class="btn btn-success" role="button" (click)="create()" *ngIf="id==0">Crear Registro </button>
<button class="btn btn-success" role="button" (click)="update()" *ngIf="id>0">Modificar Registro </button>



    </div>
  </div>

  