<hr>
<form class="example-form" >

  <div class="center">
    <h2 class ="card-title">{{titulo2}}</h2>
  </div>


  <div style="background: #ECECEC;padding:15px;">
  <nz-card style="width:1300px;"  >
    <nz-table #fixedTable [nzData]="usuario" nzTableLayout="fixed">
      <thead>
        <tr>
          <th >#</th>
          <th >Nombres</th>
          <th>Numero Identificacion</th>
          <th>Correo</th>
          <th>Genero</th>
          <th>Telefono</th>
          <th>Fecha y Hora registro</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fixedTable.data  ; let cont = index">
          <th scope="row">{{ cont+1}}</th>
         
            <td>{{data.nombre}}</td>
            <td>{{data.identificacion}}</td>
            <td>{{data.correo}}</td>
            <td>{{data.genero}}</td>
            <td>{{data.telefono}}</td>
            <td>{{data.fechaCreacionRegistro | date:'dd/MM/yyyy ' : 'UTC' }} </td>
            <td>  
              <a  [routerLink]="['/registro',data.id]"
              nzTooltipTitle="Editar Registro" nz-tooltip >
              <mat-icon class="primary" nzType="primary" >edit</mat-icon>
            </a>
           
        <a
        nz-popconfirm
        nzPopconfirmTitle="¿Desea Eliminar?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="delete(data)"
        nzTooltipTitle="Eliminar Registro" nz-tooltip     
      >
      
      <mat-icon class="primary" nzType="primary" >delete</mat-icon>
      </a>
    </td>
    
        </tr>
      </tbody>
    </nz-table>


  </nz-card>
</div>




  
<div class="alert alert-success" role="alert" *ngIf="mensaje">
  Empleado Eliminado Correctamente
</div>


</form>
  